BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
# BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
AlwaysBreakBeforeMultilineStrings: true
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterEnum: false
  AfterFunction: true # for source
  # AfterFunction: false # for header
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  AfterControlStatement: Never

